<%= form_with(model: house, local: true) do |form| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Number_of_rooms %>
    <%= form.number_field :Number_of_rooms %>
  </div>

  <div class="field">
    <%= form.label :Address %>
    <%= form.text_area :Address %>
  </div>

  <p>
  <%= form.label :image %><br>
  <%= form.file_field :image %>
</p>

  <div class="field">
    <%= form.label :Price %>
    <%= form.number_field :Price %>
  </div>

 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
