<p id="notice"><%= notice %></p>

<h1>Houses Information</h1>

<table>
  <thead>
    <tr>
      <th>Number of rooms</th>
      <th>Address</th>
      <th>Price</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= house.Number_of_rooms %></td>
        <td><%= house.Address %></td>
        <td><%= house.Price %>$</td>
        
        <td><%= link_to 'Show', house %></td>
        <td><%= link_to 'Edit', edit_house_path(house) %></td>
        <td><%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<font size="2.7"><%= link_to 'Sale Your House', new_house_path %></font> |

<font size="2.7"><%= link_to 'Back', welcome_index_path %></font>
