<p id="notice"><%= notice %></p>

<p>
  <strong>Number of rooms:</strong>
  <%= @house.Number_of_rooms %>
</p>

<p>
  <strong>Address:</strong>
  <%= @house.Address %>
</p>

<p>
<strong>Image:</strong>
<%= image_tag @house.image %>
</p>

<p>
  <strong>Price:</strong>
  <%= @house.Price %>$
</p>

<p>
  <strong>Owner name:</strong>
  <%= @house.Owner_name %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
