<p id="notice"><%= notice %></p>


<table>
<tr>
<td>

  <strong>Number of rooms:</strong>
</td>
<td>
  <font color="blue"><%= @house.Number_of_rooms %></font>
</td>
</tr>
<tr>
<td align="right">
  <strong>Address:</strong>
</td>
<td>
  <font color="blue"><%= @house.Address %></font>
</td>
</tr>
<tr>
<td align="right">
  <strong>Price:</strong>
</td>
<td>
  <font color="blue"><%= @house.Price %><font color="red">$</font></font>
</td>
</tr>
</table>
<br>
<h2>Owner's Informations:</h2>
<%= render @house.owners %>
<br>
<h2>Add Owner Infomation:</h2>
<%= render 'owners/form' %>
<br>
<p>
<strong>Image:</strong>
<%= image_tag @house.image %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
